{% set route_name = app.request.attributes.get('_route') %}
<header id="header">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand" href="{{ path('main_page') }}">
            <img src="/images/logo-white.png" class="img-fluid" alt="logo MAD STUDIO">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <div class="animated-burger"><span></span><span></span><span></span></div>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li {% if route_name == "main_page" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                    <a class="nav-link" href="{{ path('main_page') }}">Accueil</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('photo_index') }}">Photographie</a>
                    <a class="dropdown-item" href="{{ path('site_index') }}">Site</a>
                </div>
                </li>
                <li {% if route_name == "about_index" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                    <a class="nav-link" href="{{ path('about_index') }}">A propos</a>
                </li>
                <li {% if route_name == "contact_index" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                    <a class="nav-link" href="{{ path('contact_index') }}">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>






