<nav class="navbar navbar-expand-lg navbar-dark">
	<a class="navbar-brand" href="{{ path('admin_dashboard') }}">
        <img src="images/logo-4.png" width="80px" height="80px" class="ml-3" alt="Logo MAD Studio">
    </a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{ path('admin_dashboard') }}">Dashboard
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item dropdown">
  				<a class="nav-link dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    			Contenu
  				</a>
  				<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
				  	<a class="dropdown-item" href="{{ path('admin_edito_index') }}">Edito</a>
    				<a class="dropdown-item" href="{{ path('admin_prestations_index') }}">Services</a>
                    <a class="dropdown-item" href="{{ path('admin_arguments_index') }}">Arguments</a>
					<a class="dropdown-item" href="{{ path('admin_about_index') }}">A propos</a>
  				</div>
			</li>
		</ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{{ path('main_page')}}" class="nav-link">
                    <i class="fas fa-eye"></i>
                    Voir le site
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('logout') }}" class="nav-link">
                    <i class="fas fa-arrow-circle-right"></i> 
                    Se déconnecter
                </a>
            </li>
        </ul>
	</div>
</nav>
