{% extends 'admin/base.html.twig' %}

{% block body %}

    <div class="container p-5">
        <h4>Editer l'argument : "{{ argument.title }}"</h4>

        {{ form_start(form) }}
            {{ form_rest(form) }}
            <button class="btn btn-primaire">{{ button|default('Enregistrer') }}</button>    
            <a href="{{ path('admin_arguments_index')}}" class="btn btn-link">
                <i class="fas fa-arrow-circle-left"></i>
                Retour
            </a>
        {{ form_end(form) }}
        
    </div>

{% endblock %}