{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des arguments{% endblock %}

{% block body %}
    <div class="container p-5">
        <h4>Gérer les arguments</h4>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
            <table class="table table-sm table-hover table-bordered">
                <thead class="thead-dark text-center">
                    <tr>
                        <th>Nom</th>
                        <th>Icon</th>
                        <th>Contenu</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for argument in arguments %}
                    <tr>
                        <td class="align-middle px-3">{{ argument.title }}</td>
                        <td class="align-middle px-3">
                        {% if argument.icon %}
                            <img src="{{ vich_uploader_asset(argument, 'iconFile') }}" alt="icon" class="icon-admin">
                        {% endif %}
                        </td>
                        <td class="align-middle px-3">{{ argument.content|raw }}</td>
                        <td class="align-middle px-3">
                            <a href="{{ path('admin_arguments_edit', {id: argument.id}) }}" class="btn btn-dark">
                                <i class="fas fa-edit my-1"></i>
                            </a>  
                            <form method="post" action="{{ path('admin_arguments_delete', {id: argument.id}) }}"
                            style="display:inline-block" onsubmit="return confirm('Confirmer la suppression')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ argument.id) }}">
                                <button class="btn btn-danger my-1">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>                     
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="text-center">
                <a href="{{ path('admin_arguments_new') }}" class="btn btn-dark">Créer un nouvel argument</a>
            </div>

    </div>
{% endblock %}
